.category-chart-container {
  background: #9ed1f8;
  
  font-family: bree serif, "Gibson", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* *{
    border: 1px solid grey;
} */